.env
/scratch
/calendar/credentials.json
/calendar/token.json
.venv
.DS_Store
test_output.ics
/modules/archive
/additional-docs

/.pytest_cache
/.github
/api


/data/*
/data/calendar/processed/google_events.json
/copilot
/modules/streamlit/scratch