Site 
https://dr2633.github.io/chronologue/

Google Console 
https://search.google.com/search-console/welcome?utm_source=about-page

- Download the file: googlee5ab248431cd7deb.html

- Upload to: : https://dr2633.github.io/chronologue/

Instructions for Site Verification
https://support.google.com/webmasters/answer/9008080#html_verification&zippy=%2Chtml-file-upload

Google Search Console 
https://search.google.com/search-console/not-verified?original_url=/search-console/ownership&original_resource_id

Steps
To verify ownership using an HTML file:

If you are using a website hosting platform, search your service's help pages for custom instructions to verify your site on Search Console. If you don't find any information, then continue on to the next steps.
Read the requirements for this verification technique.
Choose the HTML file upload method on the Ownership verification page for your property.
Download the provided verification file. This file is unique to you; it cannot be used to identify anyone else, and is associated with your Gmail account.
Upload the verification file to your website so that it will be available at the address specified in the verification details page. This is typically the root directory for your property. (That is, if you defined your property as https://example.com, and the file provided is named 1234.txt, then the file should be browsable at https://example.com/1234.txt.) Search Console does not follow redirects when looking for this file. You can add newlines at the end of the file body, if required, but do not otherwise modify the file name or content.
Confirm that you can see the file by visiting it in your browser in the location specified by the Search Console verification wizard. If the file isn't available to your browser at that URL, Google won't be able to find for verification purposes. TIP: Use an incognito window in your browser to confirm that you don't need to log in to access it.
Complete verification by clicking Verify in the verification details page.
If verification fails, see Potential errors below to troubleshoot the issue.